
<h2>Blocks</h2>



<h2>Channels ({{ctl.channels.length||0}})</h2>
<ul class="list">
  <li ng-repeat="ch in ctl.channels">{{::ch.channel_id}}</li>
</ul>

<!-- channel selector -->
 <div class="form-group">
  <label>Channel</label>
  <select ng-model="selectedChannel" material-select watch ng-options="o.channel_id for o in ctl.channels" placeholder="Channel ID" required>
  </select>
</div>


<div class="row">
  <div class="col m1" style="height: 100vh; overflow-y: scroll">
    <div ng-show="selectedChannel" style="zoom: 70%">
      <jigsaw class="outline" ng-repeat="b in ctl.blocks" bottom="true" ng-click="ctl.loadBlockInfo(b.index)">{{::b.index}}</jigsaw>

      <jigsaw class="outline dashed" bottom="true" ng-show="!ctl.loadingBlocks" ng-click="ctl.loadMore()">more</jigsaw>
      <div class="jigsaw-margin" ng-show="ctl.loadingBlocks">
        <preloader></preloader>
      </div>
    </div>
  </div>
  <div class="col m11">

    <!-- -->
    <div ng-show="ctl.selectedIndex">
      <h2>Block no.{{ctl.selectedIndex}}</h2>

      <preloader ng-show="ctl.loadingInfo"></preloader>
      <div ng-show="!ctl.loadingInfo">
        <!-- <json-formatter open="1" json="ctl.blockInfo"></json-formatter> -->

        <!-- TODO: incomplete component -->
        <block-view block="ctl.blockInfo"></block-view>
      </div>
    </div>

  </div>
</div>